PyVirtualDisplay==3.0
alembic
black
celery
cffi
colorama
cryptography
filelock
flake8
flask
flask-cors
flask-jwt-extended>=4.3,<5.0
flask-pydantic
forex-python
gspread
gunicorn
jsonschema
krakenex
marshmallow
marshmallow-dataclass
mypy==0.910
oauth2client
pandas
pika
pika-stubs
plaid-python==7.5.0
playwright
price-parser
psycopg2
pycoingecko
pydantic
pytest
python-binance
python-bittrex
pytz
quickforex
requests
schedule
sqlalchemy==1.4.46
sqlalchemy-stubs
stackprinter
terminaltables
twilio
types-Flask
types-filelock
types-pytz
types-requests
