alembic
black
cffi
cryptography
filelock
flake8
flask
flask-cors
flask-jwt-extended>=4.3,<5.0
flask-pydantic
forex-python
gspread
gunicorn
jsonschema
krakenex
marshmallow
marshmallow-dataclass
mypy
oauth2client
pandas
plaid-python==7.5.0
price-parser
psycopg2
pycoingecko
pydantic
pytest
python-binance
python-bittrex
pytz
pyzmq
requests
schedule
selenium
sqlalchemy
sqlalchemy-stubs
stackprinter
terminaltables
twilio
types-Flask
types-filelock
types-pytz
types-requests
undetected-chromedriver
