alembic
black
celery
cffi
cryptography
flake8
flask
flask-cors
flask-jwt-extended>=4.3,<5.0
flask-pydantic
gspread
gunicorn
jsonschema
krakenex
mypy==0.910
oauth2client
pandas
pika
pika-stubs
plaid-python==7.5.0
playwright
price-parser
psycopg2
pycoingecko
pydantic
pytest
python-binance
pytz
quickforex
requests
schedule
sqlalchemy-stubs
sqlalchemy==1.4.46
stackprinter
twilio
types-Flask
types-pytz
types-requests
