/* Global Styles */
/* :root {
  --dark-color: #333333;
  --light-color: #f4f4f4;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width : 100%;
  height: 100vh; */
}

.main-wrapper {
  padding: 25px 30px 200px;
}

.opaque-background {
  /* background: rgba(255, 255, 255, 0.4); */
  background: rgba(234,226,229,0.9);
   min-height: 52vh;
}

.sign-form {
  width: 800px;
}

.box-shadow {
  box-shadow: 0 3px 10px rgba(51, 50, 47, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
